<div>
  <%= link_to '< Back', :back, class: 'text-blue-500 hover:underline mb-4 inline-block' %>

  <h1 class="font-bold text-4xl">
    <%= @dictionary_entry.text %>
  </h1>

  <% @meanings.group_by(&:source).each do |source, meanings| %>
    <% meanings.map(&:pinyin).uniq.map do |pinyin| %>
      <p><%= pinyin %></p>
    <% end %>
    <br>
    <h2 class="text-4l font-extrabold text-gray-800 dark:text-gray-200 mb-6">
      <%= source.name %>
    </h2>
    <% meanings.each do |meaning| %>
      <p class="text text-gray-800 dark:text-gray-200">
        <%= meaning.text %>
      </p>
    <% end %>
  <% end %>

  <h2 class="text-4l font-extrabold text-gray-800 dark:text-gray-200 mb-6">
    Tags
  </h2>

  <ul>
    <% @dictionary_entry.tags.each do |tag| %>
      <li>
        <%= link_to "#{tag.parent.name} |  #{tag.name}", tag_path(tag), data: { turbo_frame: "tag_#{tag.id}" }, class: "text-blue-500 hover:underline" %>
      </li>
    <% end %>
  </ul>

  <h2 class="text-4l font-extrabold text-gray-800 dark:text-gray-200 mb-6">
    Learning Progress
  </h2>

  <% if @user_learning %>
    <p>
      State: <%= @user_learning[:state] %>
    </p>

    <p>
      Next Review: <%= @user_learning[:next_due] %>
    </p>

    <p>
      Last Interval: <%= @user_learning[:last_interval] %>
    </p>
  <% else %>
    <p>
    No record of current learning
    </p>
  <% end %>
</div>
