<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Learn Hanzi" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-gray-800 text-white p-4">
      <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-xl font-bold"><%= link_to "Learn Hanzi", root_path %></h1>
        <nav class="flex items-center">
          <% if authenticated? %>
              <div class="w-10 h-10 rounded-full bg-blue-500 text-white flex items-center justify-center mr-4">
                <%= Current.user.email_address[0].upcase %>
              </div>
            <%= button_to 'Sign out', session_path, method: :delete %>
          <% else %>
            <%= link_to "Login", new_session_path, class: "text-white hover:underline ml-4" %>
            <%= link_to "Sign Up", signup_path, class: "text-white hover:underline ml-4" %>
          <% end %>
        </nav>
      </div>
    </header>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
